<a href="https://colab.research.google.com/github/khankalh/PythonGenAIUdemy/blob/main/PythonUdemyclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [9]:
name = "Elon"
age = 53


'''
This part of the code will not be executed
'''
name,",",age

('Hemant', ',', 43)

In [10]:
name=input("Enter your name")
age = int(input("Enter your age"))
print("Your name is",name,",","and your age is", age)

Enter your nameAlan
Enter your age45
Your name is Alan , and your age is 45

In [13]:
name=input("Enter your name")
age = int(input("Enter your age"))
print(name,",","Do you know that your age multipled by 2 is", age*2)

Enter your namenisha
Enter your age25
nisha , Do you know that your age multipled by 2 is 50

In [26]:
age=int(input("Enter your age : "))

if age <13:
  print("You are a child")
elif age <=19:
    print("You are a teenager")
elif age >18 and age <=65:
    print("You are an adult")

else:
    print("You are a senior citizen")

Enter your age : 68
You are a senior citizen

In [27]:
total = 0
for number in range(1, 100):
    total += number
print("The sum is:", total)

The sum is: 4950

In [44]:
num = int(input("Enter a number :"))
for number in range(1, 11):
    print(num, "*", number, " = : ", num * number)

Enter a number :999
999 * 1  = :  999
999 * 2  = :  1998
999 * 3  = :  2997
999 * 4  = :  3996
999 * 5  = :  4995
999 * 6  = :  5994
999 * 7  = :  6993
999 * 8  = :  7992
999 * 9  = :  8991
999 * 10  = :  9990

In [45]:
for i in range(1, 51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz